{% extends '@ControlPanel/layouts/base.html.twig' %}

{% block container %}
<div id="global-container">

    <header id="global-sidebar">
        {% block cp_logo %}
            <logo>{{ hook('rock.cp.logo') }}</logo>
        {% endblock %}

        <section>
            {% block cp_sidebar %}
                {{ hook('rock.cp.sidebar') }}
            {% endblock %}
        </section>
    </header>

    <div id="page-container">
        <div id="global-header">

            <div id="global-header-left">
                <button id="nav-toggle" data-action="braunstetter--control-panel-bundle--toggle#toggle">
                    <span class="sr-only">{{ 'Open sidebar'|trans }}</span>
                    {{ source('@ControlPanel/images/burger.svg') }}
                </button>

                {% block global-header-left %}
                {{ hook('cp.global-header-left') }}
                {% endblock %}
            </div>

            <div id="global-header-right">
                {% block global-header-right %}
                {{ hook('cp.global-header-right') }}
                {% endblock %}
            </div>

        </div>

        <main id="main-container">
            <div id="header-container">
                <header id="header">
                    {% block header %} {% endblock %}
                </header>
            </div>

            <div id="main-content">
                <div id="content-container">
                    {% block blank_content %}
                        <div id="content">
                            {% block content %}{% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
