{% extends '@ControlPanel/layouts/base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}


{% block container %}

    <div id="global-container">

        <header id="global-sidebar">

            {% block cp_logo %}
                <logo>
                    {{ hook('rock.cp.logo') }}
                </logo>
            {% endblock %}

            <section>
                {% block cp_sidebar %}
                    {{ hook('rock.cp.sidebar') }}
                {% endblock %}
            </section>

        </header>

        <div id="page-container">
            <div id="global-header">

                <div id="global-header-left">
                    <button id="nav-toggle" data-action="braunstetter--control-panel--toggle#toggle">
                        <span class="sr-only">{{ 'Open sidebar'|trans }}</span>

                        {{ source('@ControlPanel/images/burger.svg') }}
                    </button>

                    {{ hook('rock.cp.global-header-left') }}
                </div>

                <div id="global-header-right">
                    {{ hook('rock.cp.global-header-right') }}

{#                    {% include '@Rock/cp/menu/user-menu.html.twig' %}#}
                </div>

            </div>

            <main id="main-container">
                <div id="header-container">
                    <header id="header">
                        <h1>Dashboard</h1>
                    </header>
                </div>

                <div id="main-content">
                    <div id="content-container">
                        <div id="content">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
